/* Relógio digital */
@font-face {
    font-family: 'digital-7';
    src: url('digital-7.ttf');
}

body {
    background-color: black;
}

.clockD {
    font-family: "Roboto";
    display: flex;
    position: fixed;
    width: calc(100%);
    max-width: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 1;
}

.clockD h4 {
    color: #4deff5;
    font-size: 25px;
    font-weight: 300;
    font-family: 'digital-7';
    font-size: 80px;
}